*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.app-wrap{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4));
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}
header input{
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid #DF8E00;
    color: #313131;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
}
header input:focus{
    background-color: rgba(255, 255, 255, 0.6);
}
main {
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.location .city{
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
}
.location .date {
    color: #fff;
    font-size: 16px;
}
.current .temperature {
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.current .temperature .temp {
    color: #fff;
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 2px 10px rgba(0, 0, 0, 0.75);
}
.current .temperature .temp span{
    font-weight: 500;   
}

.current .weather{
    color: #fff;
    font-size: 37px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}
.current .hi-low{
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}
@media(max-width: 998px){
    html{
        font-size: 55%;
    }
    .current .temperature .temp{
        font-size: 70px;
    }

}
@media(max-width: 768px){
    html{
        font-size: 45%;
    }
    body{
        background-size: cover;
    }
    .current .temperature {
        margin-top: 90px;
        margin-bottom: 50px;
        flex-direction:column;
        width: 100%;
    }
    .current .temperature .temp{
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 70px;
    }
}
